@font-face {
    font-family: 'rokh';
    src: url('./../src/assets/fonts/rokh/rokh-bold.eot');
    src: url('./../src/assets/fonts/rokh/rokh-bold.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/rokh/rokh-bold.woff2') format('woff2'),
            url('./../src/assets/fonts/rokh/rokh-bold.woff') format('woff'),
            url('./../src/assets/fonts/rokh/rokh-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}